# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
/.qmake.cache
/.qmake.stash
*.moc
src/*.pro.user
src/*.pro.user.*
build-*
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# Build directories
debug/*
release/*

# QtCreator
*.autosave